[user]
	name = Matt Ratleph
	email = mattratleph@users.noreply.github.com

[color]
	ui = true

[core]
	excludesfile = ~/.gitignore_global
	editor = vim

[merge]
	tool = vim

[mergetool "vim"]
	cmd = vim \"+Gdiff\" $MERGED

[pull]
	rebase = false

[push]
	default = simple
